<a [routerLink]="['/apartment', apartment.id]" class="mx-auto">
  <div class="card text-secondary mb-4">
    <div class="card-img-overlay p-2">
      <div class="row">
        <div class="col-2">
          <span class="badge badge-primary p-2" *ngIf="apartment.datePosted | new">NEW</span>
        </div>
        <div class="col-2 offset-7 inner">
          <button id="heart-link" [title]="isFavourite ? 'Remove from favourite' : 'Add to favourite'"
                  (click)="onHeartClick($event)">
            <span class="fa fa-2x text-light" [ngClass]="isFavourite ? 'fa-heart' : 'fa-heart-o'"></span>
          </button>
        </div>
      </div>
    </div>
    <img src="{{ apartment.mainImage }}" class="card-img-top" alt="Apartment Image">
    <div class="card-body">
      <h5 class="card-title text-dark">{{ apartment.title }}</h5>
      <div>
        <span class="fa fa-map-marker fa-sm"></span>
        {{ apartment.address }}, {{ apartment.municipality }}, {{ apartment.city }}
      </div>
      <div>
        <span class="fa fa-bed"></span>
        {{ apartment.numberBedrooms | bedrooms }}
      </div>
    </div>
    <div class="card-footer">
      <span class="fa fa-calendar text-primary"></span>&nbsp;
      <span class="text-primary">{{ apartment.dateAvailable | date | availableNow }}</span>
      <span class="float-right">{{ apartment.price | currency: currency }}</span>
    </div>
  </div>
</a>
