@media (max-width: 420px) {
  .btn-outline-blue {
    border: none !important;
  }

  .fa-user-plus {
    display: inline !important;
  }
}

.container-fluid {
  padding-left: 10%;
  padding-right: 10%;
}

.navbar {
  background: #00000005 !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.dropdown button {
  color: #268d90;
}

.navbar-nav > li {
  margin-left: 10px;
}

.navbar-brand, .navbar-brand:visited {
  color: #268d90;
  font-family: "Berlin Sans FB", "sans-serif";
  font-size: 2em;
}

.navbar-brand:hover {
  color: #36c9cc !important;
}

.fa-user-plus {
  display: none;
}

.navbar .nav-link {
  color: #268d90;
}

.navbar .nav-link:hover {
  color: #36c9cc !important;
  cursor: pointer;
}

.btn-outline-blue {
  color: #268d90 !important;
  border: 1px solid #268d90;
}

.btn-outline-blue:hover {
  color: white !important;
  background-color: #268d90;
}

.profile-pic {
  width: 30px;
  height: 30px;
}

.active-link {
  font-weight: bold;
}
