<div class="bg-image d-flex">
  <div class="container align-self-center">
    <div class="row">
      <div class="col-lg-6 col-sm-12 mx-auto">
        <form class="p-4 my-4 rounded" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <h3 class="text-center form-title">Create Renterr Account</h3>
          <hr class="mb-4">

          <div class="form-group row">
            <label #username for="username" class="col-lg-2 col-form-label">Username</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                     formControlName="username">

              <div *ngIf="!form.username.valid && form.username.touched">
                <div class="invalid-msg" *ngIf="form.username.has('required')">Username is required</div>
                <div class="invalid-msg" *ngIf="form.username.has('pattern')">Username can contain only lowercase
                  letters, numbers and some special characters(_, -, .)
                </div>
                <div class="invalid-msg" *ngIf="form.username.has('minlength')">Minimum length for username is 3
                  characters
                </div>
                <div class="invalid-msg" *ngIf="form.username.hasError('maxlength')">Maximum length for username is 15
                  characters
                </div>
                <div class="invalid-msg" *ngIf="form.username.hasError('usernameTaken')">Username is already taken</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="password" class="col-lg-2 col-form-label">Password</label>
            <div class="col-lg-5">
              <input class="form-control" id="password" name="password" placeholder="Password"
                     formControlName="password" [type]="passwordInputType ? 'text' : 'password'">
              <span [class]="showEye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="onShowPassword()"></span>
              <div *ngIf="!form.password.valid && form.password.touched">
                <div class="invalid-msg" *ngIf="form.password.hasError('required')">Password is required</div>
                <div class="invalid-msg" *ngIf="form.password.hasError('pattern')">Password must be at least 8
                  characters
                  and it must contain one lowercase letter, uppercase letter and digit
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm password"
                     formControlName="confirmPassword">
              <div *ngIf="!form.confirmPassword.valid && form.confirmPassword.touched">
                <div class="invalid-msg" *ngIf="form.confirmPassword.hasError('required')">Password confirmation is
                  required
                </div>
                <div class="invalid-msg" *ngIf="form.confirmPassword.hasError('confirmFail')">Password do not match
                </div>
              </div>
            </div>
          </div>

          <hr class="my-4">

          <div class="form-group row">
            <label class="col-lg-2 col-form-label">Name</label>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name"
                     formControlName="firstName">
              <div *ngIf="!form.firstName.valid && form.firstName.touched">
                <div class="invalid-msg" *ngIf="form.firstName.hasError('required')">First name is required</div>
              </div>
            </div>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"
                     formControlName="lastName">
              <div *ngIf="!form.lastName.valid && form.lastName.touched">
                <div class="invalid-msg" *ngIf="form.lastName.hasError('required')">Last name is required</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-2 col-form-label">From</label>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="city" name="city" placeholder="City" formControlName="city">
            </div>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="country" name="country" placeholder="Country"
                     formControlName="country">
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-lg-2 col-form-label">Email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="email" name="email" placeholder="Email"
                     formControlName="email">
              <div *ngIf="!form.email.valid && form.email.touched">
                <div class="invalid-msg" *ngIf="form.email.hasError('required')">Email is required</div>
                <div class="invalid-msg" *ngIf="form.email.hasError('email')">Please enter a valid email address</div>
                <div class="invalid-msg" *ngIf="form.email.hasError('emailTaken')">Account with that email already
                  exists
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="phone" class="col-lg-2 col-form-label">Phone</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone"
                     formControlName="phone">
              <div *ngIf="!form.phone.valid && form.phone.touched">
                <div class="invalid-msg" *ngIf="form.phone.hasError('required')">Phone is required</div>
                <div class="invalid-msg" *ngIf="form.phone.hasError('pattern')">Please enter a valid phone number</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="customFile" class="col-lg-2 col-form-label">Picture</label>
            <div class="col-lg-10">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" accept="image/*"
                       (change)="onFileChanged($event)">
                <label class="custom-file-label" for="customFile" [innerText]="fileName"></label>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col">
              <button class="btn btn-danger btn-lg" type="button" routerLink="/">Cancel</button>
            </div>
            <div class="col">
              <button class="btn btn-primary btn-lg" type="submit">Sign Up</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<ngx-spinner type="ball-spin" size="medium" [fullScreen]="true"
             color="white" bdColor="rgba(0, 0, 0, 0.8)">
  <h4 class="mt-5 text-white">Please wait...</h4>
</ngx-spinner>
